
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Nunito+Sans&display=swap");

* {
    font-family: "Nunito Sans";
    font-size: 18px;
    line-height: 1.6;
}

* {
    padding: 0;
    margin: 0;
}

* {
    background-color: hsl(180, 25%, 69%);
}

h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 1.5rem;
}

h3 {
    text-align: center;
    font-size: 19px;
}


.parent_container {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px double black;
    padding: 20px;
    background-color: white;
}

.child-container {
    display: flex;
    background-color: white;
}

.image {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    max-width: 120px;
    background-color: white;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-top: 37px;
    background-color: white;
}

.nav-bar li {
    background-color: white;
}

.nav-bar li a {
    display: block;
    width: auto;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
    background-color: white;
}

.nav-bar li a:hover {
    background-color: #555;
    color: white;
}

/* Relates to the index file */
.main-text, .list-container, .expect2, .about-me-main {
    max-width: 90%;
    text-align: left;
    margin: 0 auto;
}

.main-text2 {
    text-align: center;
    margin-top: 1rem;
}

.parent-main {
    display: flex;
    gap: 20px;
}

.child-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 800px;
    max-height: 450px;
    text-align: left;
    padding-top: 50px;
    padding-left: 50px;
}

.child-main2 {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

.book {
    display: block;
    margin-top: 4rem;
    text-align: center;
}

.book2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1.5rem;
}

.book3 {
    text-align: center;
    margin-bottom: 2rem;
}

.book-list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.book-list li a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100px;
    padding: 10px;
    border: 3px solid #dddcdc;
    border-radius: 5px;
    background-color: #f6cba1;
}

.book-list li a:hover {
    background-color: #555;
    color: white;
}


/* Relates to the why yoga file */

.list-container ul.li {
    text-align: left;
    list-style-position: inside;
    padding-left: 0; 
}

.why-yoga-title {
    padding-top: 40px;
}

.why-yoga-list {
    margin-bottom: 1rem;
}

.expect {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.expect3 {
    text-align: center;
    margin-top: 2rem;
}

.expect-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 2rem;
}

.expect-list li a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100px;
    padding: 10px;
    border: 3px solid #dddcdc;
    border-radius: 5px;
    background-color: #f6cba1;
}

.expect-list li a:hover {
    background-color: #555;
    color: white;
}

/* Relates to booking file */

.booking-submain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}

.booking-hauxton, .booking-harston {
    width: 500px;
}

.booking-subtitle {
    padding-bottom: 0.5rem;
}

.booking-class-info {
    text-decoration: none;
}

.booking-title {
    margin-top: 1rem;
}

.booking-list {
    margin-bottom: 1.5rem;
}

.booking-list2 {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 2rem;
}

.booking-list2 li a:hover {
    background-color: #555;
    color: white;
}

.booking-list2 li a {
    display: block;
    text-decoration: none;
    background-color: #f6cba1;
    color: black;
    width: 300px;
    padding: 10px;
    border: 3px solid #dddcdc;
    border-radius: 5px;
}

.booking-button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
}

.booking-button p a {
    display: block;
    text-decoration: none;
    background-color: #f6cba1;
    color: black;
    width: 100px;
    padding: 10px;
    border: 3px solid #dddcdc;
    border-radius: 5px;
}

.booking-button p a:hover {
    background-color: #555;
    color: white;
}

/* Relates to the about_me file */
.about-me-title {
    margin-top: 1rem;
}

.about-me-image {
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.about-me-image img {
    max-width: 50%;
}

/* Relates to the contact file */
.contact-title {
    margin-top: 1rem;
}

.contact-image {
    display: flex;
    justify-content: center;
}

.contact-text {
    text-align: center;
    margin-top: 2rem;
}


/* FORMATTING FOR DIFFERENT SCREEN SIZES */

/* Desktop Styles (min-width: 1024px) */
@media (min-width: 1024px) {
    .parent_container {
        display: flex;
        justify-content: space-between;
    }
    
    .main-text, .list-container, .expect, 
    .expect2, .about-me-main {
        max-width: 800px; 
    }
    
    .child-main {
        max-width: 800px;
        max-height: 450px;
    }
    
    .book-list li a, .expect-list li a, 
    .booking-list2 li a, .booking-button p a {
        width: 300px; 
    }
}

/* Large Desktop Styles (min-width: 1200px) */
@media (min-width: 1200px) {
    .parent-main {
        justify-content: center;
    }
}

/* MOBILE STYLES (max-width: 768px) */
@media (max-width: 768px) {

    .parent_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 20px;
        width: 100%;
        margin: 0 auto;
    }

    .main-text, .booking-main, .child-main {
        max-width: 100%; 
        text-align: center; 
    }

    .expect, .expect2 {
        max-width: 100%;
        text-align: left;
        margin-left: 38px;
    }

    .expect-list {
        text-align: center;
        margin-left: 12px; 
    }

    .expect-list li a {
        width: 100%;
    }

    .list-container {
        width: 100%;
        margin-left: 38px;
    }

    .child-main {
        max-height: none; 
        padding-left: 40px;
        margin: 0 auto;
    }

    .child-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .parent-main img {
        justify-content: center;
    }

    .image {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        position: relative;
    }

    .booking-title {
        text-align: center;
        width: 100%;
        padding-left: 20px;
    }

    .booking-list li {
        text-align: left;
        width: 100%;
        padding-left: 30px;
        list-style-position: outside;
    }

    .book-list {
        margin-bottom: 1rem;
    }

    .book-list li a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        margin: 0 auto;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    
    h2 {
        font-size: 26px;
    }
    
    .nav-bar {
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding-top: 20px;

    }

    .nav-bar li {
        text-align: center;
        width: 100%;
    }
    
    .nav-bar li a {
        width: 92.5px; 
        margin: 8px 0;
        display: flex;
        justify-content: center;
        padding-right: 5px;
    }
    
    .parent-main {
        flex-direction: column; 
    }

    .book-list, .expect-list, .booking-list2 {
        flex-direction: column; 
    }
    
    .about-me-image, .child-main2 {
        display: none;
        flex-direction: column; 
    }

    .about-me-image img {
        max-width: 100%;
        margin-bottom: 15px; 
    }

    .about-me-title, .about-me-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    .why-yoga-list {
        text-align: left;
    }

    .booking-main {
        text-align: left;
        width: 88%;
        display: flex;
        flex-direction: column;
    }

    .booking-button {
        width: 100%;
        text-align: center;
        margin-left: 22px;
    }

    .book-list li {
        width: 81.5%;
        padding-left: 6px;
    }

    .booking-list2 {
        width: 100%;
        margin-left: 7.5px;
    }

    .booking-list2 li a {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .about-me-main {
        max-width: 100%; 
        text-align: center;
        padding-left: 41.5px; 
    }

    .about-me-title {
        margin-top: 1rem;
    }

    .contact-title, .contact-image, .contact-text {
        width: 100%;
        padding-left: 20px;
    }

}